
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jersey+15&family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap');




ul{
    list-style-type: none;
    display: flex;
    gap: 70px;
    justify-content: center;
    background-color: beige;
    padding: 10px;
    
}
li{
     padding: 10px;
     font-weight: 600;
     color: black;
}
li:hover{
    color: brown;
    text-decoration: underline;
    
    border-radius: 3px;

}
img{
    margin-right: 50px;
}

#brand-name{
   
  font-family: "Clicker Script", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color:cadetblue;
  text-shadow: 1px 1px 3px rgb(156, 151, 151);
}

